<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>
<div style="text-align:center">
    <h2>Search for Friends</h2>

    <form th:action="@{/friends/search/results}" method="post">

        <p>
            <label for="searchTerm">Display Name</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />

    </form>

    <div style="display:flex; justify-content:center; align-items:center">
        <ul style="list-style:none">
            <li th:each="user : ${users}">
                <div style="width:600px">
                    <div class="text-bg-light p-3 friend-container">
                        <p th:text="${user.displayName}" style="text-align:left"></p>
                        <p style="text-align:left">Miles:</p>
                        <div>
                            <img src="https://picsum.photos/200" style="position:absolute; right:15px; bottom:15px" id="profile-image" alt="Profile Image" />
                        </div>
                        <!-- Add Friend Form -->
                        <form th:action="@{/friends/add}" method="post">
                            <input type="hidden" name="userId" th:value="1"/> <!-- Replace with actual logged-in user ID -->
                            <input type="hidden" name="friendUserId" th:value="${user.id}"/>
                            <input type="submit" value="Add Friend"/>
                        </form>
                    </div>
                </div>
            </li>
        </ul>

    </div>
</div>



</body>
</html>
