<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <head th:replace="~{fragments :: head}">
        <meta charset="UTF-8"/>
        <title th:text="${title}"></title>
    </head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>
<<div class="container text-center py-5">
    <div class="row">
        <h1 class="display-5 text-center" th:text="${title}"></h1>
    </div>
</div>
<div class="container">
    <form th:object="${entry}" th:action="@{/tracker/add-tracking/{userId}/add(userId=${user.id})}" method="post" >
        <div class="mb-3">
            <label for="date">Date:</label>
            <input type="datetime-local" id="date" th:field="*{date}" class="form-control" required/>
        </div>
        <div class="mb-3">
            <label for="description">Description: </label>
            <input type="text" id="description" th:field="*{description}" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="miles">Miles: </label>
            <input type="number" id="miles" th:field="*{miles}" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Add Tracking</button>
    </form>
</div>
</div>
</body>
</html>