<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>
<div class="container text-center py-5">
    <div class="row">
        <h1 class="display-5 text-center" th:text="${title}"></h1>
    </div>
</div>
<div class="container">
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="card-title">Miles Summary</h3>
        </div>
        <div class="card-body ">
            <p class="card-text">Monthly Total Miles: <span th:text="${milesTracker.milesMonthly}"></span></p>
            <p class="card-text">Total Miles: <span th:text="${milesTracker.milesTotal}"></span></p>
            <div>
                <a th:href="@{/tracker/add-tracking/{userId}(userId=${user.id})}" class="btn btn-success">
                    Add Tracking
                </a><br>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Entries</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Miles</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="entry : ${entries}">
                    <td th:text="${entry.id}"></td>
                    <td th:text="${entry.date}"></td>
                    <td th:text="${entry.description}"></td>
                    <td th:text="${entry.miles}"></td>
                    <td> <form th:action="@{/tracker/delete/{userId}/{entryId}(userId=${user.id}, entryId=${entry.id})}" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <a href="#" onclick="event.preventDefault(); this.closest('form').submit();" class="text-danger">
                            <small>Delete</small>
                        </a>
                    </form>
                    </td>
                </tr>
                </tbody>



            </table>
        </div>
    </div>
</div>
</body>
</html>