.navbar {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: lightgreen;
    }
    li {
        float: left;
        a {
            display: block;
            text-align: center;
            padding: 14px 16px;
            color: black;
            text-decoration: none;
        }
        a:hover {
            background-color: darkgreen;
        }

    }
}

.profile-picture {
    border-radius: 120px;
    margin: 25px;
}

.home-element {
    display: inline-block;
    text-align:left;
    background-color: green;
    border-radius: 15px;
    padding: 10px 40px
}

.activity-feed {
    background-color: honeydew;
    margin: 25px;
    padding: 25px;
}