<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body style="text-align:center">
    <h1>Welcome to Bicycle Buddies!</h1>
    <form method="post">
        <div>
            <label>Username:
                <input />
            </label>
        </div>
        <div>
            <label>Password:
                <input />
            </label>
        </div>
        <input type="submit" value="Log In"/>
    </form>
    <img src="https://picsum.photos/800/400" alt="random image">

</body>
</html>