<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <div style="text-align:center; justify-content: center; align-items: center; width: 100%">
        <h1>Welcome to Bicycle Buddies!</h1>
        <form method="post" style="margin: 150px">
            <div style="margin: 5px">
                <label>Username:
                    <input />
                </label>
            </div>
            <div>
                <label>Password:
                    <input />
                </label>
            </div>
            <input type="submit" value="Log In" style="margin: 5px"/>
        </form>
    </div>
    <img src="https://picsum.photos/800/400" alt="random image" style="position: absolute; bottom: 50px; margin-inline: auto; width: fit-content; left: 0; right: 0">

</body>
</html>