<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>

<div>
    <table>
        <tr>
            <td><img src="https://picsum.photos/200" id="profile-image" /></td>
            <td># of Miles Biked</td>
            <td><button type="button">View Miles Tracker</button></td>
        </tr>
        <tr>
            <td>@Username</td>
            <td>Pagination goes here <...></td>
        </tr>
        <tr>
            <td># of Friends</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Display Name</td>
        </tr>
        <tr>
            <td>Location</td>
        </tr>
        <tr>
            <td>Short Bio: Hi this is my bike buddies page....</td>
        </tr>
        <tr>
            <td><button type="button">Add to Friends</button></td>
        </tr>
    </table>
</div>

</body>
</html>