<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:replace="~{fragments :: navbar}"></div>
<h1>Profile Creation</h1>

<form method="post">
    <div>
        <label>Username:
            <input th:field="${registerFormDTO}" />
        </label>
        <p th:errors="${registerFormDTO}"></p>
    </div>
    <div>
        <label>Display Name:
            <input th:field="${registerFormDTO.displayName}" />
        </label>
    </div>
    <div>
        <label>Email:
            <input th:field="${registerFormDTO.email}" />
        </label>
    </div>
    <div>
        <label>Password:
            <input th:field="${registerFormDTO}" type="password" />
        </label>
    </div>
    <div>
        <label>Verify Password:
            <input th:field="${registerFormDTO.verifyPassword}" type="password" />
        </label>
    </div>
    <div>
        <label>Profile Picture:
            <input type="file" id="userProfilePicture" name="userProfilePicture" />
        </label>
    </div>

    <input type="submit" value="Create Profile">
    <button>
        <a th:href="@{/}">Home</a>
    </button>
</form>

</body>
</html>
