<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<h1>Profile Creation</h1>

<form method="post">
    <div>
        <label>Username:
            <input>
        </label>
    </div>
    <div>
        <label>Full Name:
            <input>
        </label>
    </div>
    <div>
        <label>Email:
            <input>
        </label>
    </div>
    <div>
        <label>Password:
            <input>
        </label>
    </div>
    <div>
        <label>Verify Password:
            <input>
        </label>
    </div>

    <input type="submit">
</form>

</body>
</html>